<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Relatório Cursos</title>
    <style>
        body { font-family: Arial, sans-serif; }
        .curso { margin-bottom: 30px; }
        .aluno { margin-left: 20px; }
        .container: {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: 3px;
            border: 1px solid red;
        }
    </style>
</head>
<body>
    <div style="display: flex; width: 100%; justify-content: center; align-items: center; padding: 3px; border: 1px solid red;">
        <h1 style="color: red;">{{titulo}}</h1>
    </div>
    {% for item in dados %}
        <div class="curso">
            <h2>{{ item.curso.nome }} - Média aprovação: {{ item.curso.media_aprovacao }}</h2>
            <h3>Alunos:</h3>
            {% if item.alunos %}
                <ol>
                    {% for aluno in item.alunos %}
                        <li class="aluno">{{ aluno.nome }}</li>
                    {% endfor %}
                </ol>
            {% else %}
                <p class="aluno">Nenhum aluno neste curso.</p>
            {% endif %}
        </div>
    {% endfor %}

    {% if dados|length == 0 %}
        <h1>Sem cursos com a média especificada.</h1>
    {% endif %}
</body>
</html>
